In [45]:
import pandas as pd
import re

all_cars= pd.read_csv("./bil_torvet/bil_torvet_data.csv",sep=";", header=None)
all_cars=pd.DataFrame(all_cars)
all_cars=all_cars.sort_values([0])
all_cars[1500:1550]
r=re.compile(r'(Audi).*')
audi=all_cars[all_cars[0].apply(lambda x: bool(r.match(x)))]
audi.to_csv("./bil_torvet/audi_links.csv",sep=";", header=None, index=False)
audi

,0,1,2,3,4,5
675,Audi 100,44900,138.000,Them,1978,https://www.biltorvet.dk/bil/audi/100/1-6/1613150
1323,Audi 100,34900,222.000,Holmegaard,1992,https://www.biltorvet.dk/bil/audi/100/2-8-e-av...
697,Audi 100,39000,168.000,Brenderup,1973,https://www.biltorvet.dk/bil/audi/100/1-8-ls/1...
799,Audi 80,28000,183.000,Herlev,1992,https://www.biltorvet.dk/bil/audi/80/2-0-e-aut...
679,Audi 80,69800,125.000,Vejen,1974,https://www.biltorvet.dk/bil/audi/80/1-5-ls/17...
...,...,...,...,...,...,...
948,Audi TT,359900,87.000,Næstved,2015,https://www.biltorvet.dk/bil/audi/tt/2-0-tfsi-...
2000,Audi TTS,139000,132.000,København,2013,https://www.biltorvet.dk/bil/audi/tts/roadster...
1087,Audi TTS,269000,156.000,Frederiksværk,2009,https://www.biltorvet.dk/bil/audi/tts/roadster...
693,Audi V8,59800,316.000,Christiansfeld,1991,https://www.biltorvet.dk/bil/audi/-/4-2-quattr...
317,Audi e-tron GT,1149000,6.000,Risskov,2021,https://www.biltorvet.dk/elbiler/audi/-/quattr...

In [84]:
audi=pd.read_csv("./bil_torvet/audi_links.csv",sep=";", header=None)
fuel=[]
door=[]
for a in audi[0][:]:
    fuel.append(None)
    door.append(None)
    
audi[6]=fuel
audi[7]=door
audi= audi.set_index(5)
dicts=[]

for i in audi.index:
    car={audi.audi.loc[i]}
    dicts.append(car)
dicts

AttributeError: 'DataFrame' object has no attribute 'audi'

In [86]:
audi = audi=pd.read_csv("./bil_torvet/audi_links.csv",sep=";", header=None)
audi[5]
b=0
try:
    b=2*2
except Exception as e:
    print(e)
b

4